html, body {
	font-family: Verdana, Sans-serif;
	background: #f8f8f8;
	height: 99%;
}

div#content {
	margin-left: 5%;
	margin-right: 5%;
	height: 99%;
}

div#header {
	background: #0c5da5;
	color: white;
	border: 2px solid #142150;
	border-radius: 5px;
	font-size: 2em;
	padding-left: 70px;
	height: 70px;
	background-image: url('/images/dummylogo.png');
	background-repeat: no-repeat;
	background-position: 10px 8px;
}

div#header div#leftpart {
	padding-top: 0.4em;
}

div#header span#tagline {
	color: #afa5c9;
	font-size: 0.4em;
}

div#header a {
	color: #c9afa5;
}

div#header div#loginbox {
	float: right;
	font-size: 0.5em;
	padding-top: 1.5em;
	padding-right: 1em;
}

div#nav {
	font-size: 0.8em;
	float: right;
	background: #26537c;
	margin-top: 1px;
	border: 2px solid #142150;
	color: white;
	border-radius: 5px;
	height: 2.5em;
}

div#nav a {
	display: block;
	float: left;
	color: white;
	padding: 0.5em;
	text-align: right;
	border-right: 1px dotted #ddd;
	padding-left: 30px;
	background-image: url('/images/icons/computer.png');
	background-repeat: no-repeat;
	background-position: 7px 11px;
}

div#nav a.last {
	border-right: none;
}

div#tabs {
	margin-top: 2.6em;
	height: 28px;
	padding-left: 1em;
	border-bottom: 2px solid #005;
}

div#tabs a {
	font-family: Calibri, Sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: black;
	float: left;
	display: block;
	border: 2px solid black;
	margin-left: 0.3em;
	margin-right: 0.3em;
	padding: 4px;
	height: 18px;
	background: #c9c1a5;
}

div#tabs a.active {
	border-bottom: none;
	background: white;
	font-weight: bold;
	height: 20px;
}

div#main {
	border: 2px solid #444;
	border-top: none;
	padding: 1em;
	background: white;
	margin-bottom: 0px;
}

div#main.stretch {
	height: 60%;
}

div.sectionhead {
	border-bottom: 1px solid #bbb;
	color: #999;
	text-align: left;
	padding-left: 1em;
	font-size: 0.7em; 
}

div.onethird {
	float: left;
	width: 28%;
	border-right: 1px dotted #bbb;
}

div.twothirds {
	margin-left: 29%;
	width: 71%;
}

span.caption {
	font-size: 0.7em;
	font-family: Serif;
}

div#searchResultsPanel {
	height: 10em;
	overflow: auto;
	margin-right: 15px;
	margin-bottom: 1em;
}

div.course {
	padding: 10px;
	background: #bf8430;
	margin-bottom: 2px;
	border-radius: 5px;
	font-size: 0.8em;
	cursor: pointer;
}

div#moreInfoPanel {
	font-size: 0.9em;
	overflow: auto;
	height: 11em;
	padding-right: 15px;
}

div.course span.name {
	font-size: 0.8em;
	margin-left: 1em;
}

div.ucourse {
	padding: 0.25em;
	background: #534ed9;
	border: 2px solid #0c0874;
	border-radius: 5px;
	font-size: 0.8em;
	height: 1.4em;
	color: white;
	float: left;
	margin: 0.1em;
	margin-top: 0.25em;
	cursor: pointer;
}

div.footer {
	clear: both;
}

div.usersemester {
	margin: 1em;
	padding: 0.5em;
	border: 2px solid #ff9500;
	border-radius: 5px;
	height: 8em;
}

div.usersemester span.title {
	display: block;
	font-weight: bold;
	font-size: 0.8em;
	border-bottom: 1px solid #333;
}

div.planbox {
	width: 30%;
	background: #ffdd73;
	border: 2px solid #a67e00;
	border-radius: 5px;
	height: 6em;
	padding: 0.25em;
	margin-top: 0.25em;
	margin-right: 1%;
	float: left;
}

div.planbox span.title {
	display: block;
	font-weight: normal;
	font-size: 0.6em;
	border-bottom: 1px solid #777;
}

div.planbox.hovering {
	border: 2px solid #d6ae00;
	background: #fff090;
}
