html, body {
	font-family: Verdana, Sans-serif;
	background: #000;
	height: 99%;
}

div#content {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2.5em;
	background: #222 url('/images/fogbg.png');
}

div#header {
	color: white;
	font-family: "Trebuchet MS", Sans-serif;
	border-bottom: 2px solid #333;
	font-size: 30px;
	padding-left: 70px;
	height: 70px;
	background-image: url('/images/dummylogo.png');
	background-repeat: no-repeat;
	background-position: 10px 8px;
}

div#header div#leftpart {
	padding-top: 18px;
}

div#header span#tagline {
	color: #888;
	font-size: 0.4em;
}

a.bluebutton {
	background: #4e85c3 url('/images/blue_gradient.png');
	color: white;
	text-decoration: none;
	border-radius: 5px;
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

a.bluebutton:hover {
	background: #4e85c3;
}

div#header div#loginbox {
	float: right;
	font-size: 0.5em;
	padding-top: 27px;
	padding-right: 1em;
}

div#nav {
	font-size: 0.8em;
	float: right;
	background: #333;
	color: white;
	height: 2.5em;
}

div#nav a {
	display: block;
	float: left;
	color: white;
	padding: 0.5em;
	text-align: right;
	border-right: 1px dotted #ddd;
	padding-left: 30px;
	background-image: url('/images/icons/computer.png');
	background-repeat: no-repeat;
	background-position: 7px 8px;
}

div#nav a.last {
	border-right: none;
}

div#tabs {
	margin-top: 2.6em;
	height: 28px;
	padding-left: 1em;
	border-bottom: 2px solid #aaa;
}

div#tabs a {
	font-family: Calibri, Sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: black;
	float: left;
	display: block;
	border: 2px solid #aaa;
	margin-left: 0.3em;
	margin-right: 0.3em;
	padding: 4px;
	height: 18px;
	background: #555;
	color: white;
}

div#tabs a.active {
	border-bottom: none;
	background: #f0f0f0;
	font-weight: bold;
	height: 20px;
	color: black;
}

div#main {
	border-top: none;
	padding: 1em;
	background: white url('/images/whitefog.png');
	margin-bottom: 0px;
}

div.sectionhead {
	border-bottom: 1px solid #bbb;
	color: #999;
	text-align: left;
	padding-left: 1em;
	font-size: 0.7em; 
}

div.onethird {
	float: left;
	width: 28%;
	border-right: 1px dotted #bbb;
}

div.twothirds {
	margin-left: 29%;
	width: 71%;
}

span.caption {
	font-size: 0.7em;
	font-family: Serif;
}

div#searchResultsPanel {
	height: 14em;
	overflow: auto;
	margin-right: 15px;
	margin-bottom: 1em;
}

div.course {
	padding: 10px;
	background: #4e85c3 url('/images/blue_gradient.png');
	margin-bottom: 2px;
	border-radius: 5px;
	color: white;
	font-size: 0.8em;
	cursor: pointer;
}

div#moreInfoPanel {
	font-size: 0.8em;
	padding-right: 15px;
	overflow: auto;
	max-height: 15em;
}

div.course span.name {
	font-size: 0.8em;
	margin-left: 1em;
}

div.ucourse {
	padding: 5px;
	background: url('/images/pink_gradient.png');
	border-radius: 5px;
	font-size: 0.8em;
	height: 1.4em;
	color: white;
	border: 1px solid #eee;
	float: left;
	margin: 0.1em;
	margin-top: 0.25em;
	cursor: pointer;
}

div.footer {
	clear: both;
}

div#page-foot {
	background: #000;
	padding: 2em;
	color: #bbb;
	text-align: center;
	font-size: 0.7em;
	font-family: "Trebuchet MS", Sans-serif;
}

div#page-foot a {
	color: #999;
}

div.usersemester {
	margin: 1em;
	float: left;
	width: 90%;
	background: #444;
	color: white;
	padding: 0.5em;
	border: 2px solid #555;
}

div.usersemester span.title {
	display: block;
	font-weight: bold;
	font-size: 0.8em;
	height: 1.8em;
}

div.usersemester span.title a {
	margin-left: 1.5em;
}

div.planbox {
	width: 30%;
	border-radius: 5px;
	height: 6em;
	background: white;
	color: black;
	padding: 0.25em;
	margin-top: 0.25em;
	margin-right: 1%;
	float: left;
}

div.planbox span.title {
	display: block;
	font-weight: normal;
	font-size: 0.6em;
	border-bottom: 1px solid #777;
}

div.planbox.hovering {
	/*border: 2px solid #d6ae00;*/
	background: #ffecc0;
}
